// vars

$white: #f6f6f6;
$blue: #33c1e3;
$darkgray: #414141;
$lblue: #32c3e5;
$red: #e85f61;
$fontgrey: #515153;

// imports
//@import "fonts/fonts.scss";
//@import "fonts/font-awesome";
@import "./fonts/fonts.scss";
@import "./fonts/font-awesome";
@import "mixins";
@import "adjustment";
@import "normalize";
@import "jquery.mCustomScrollbar" ;


// section styles
@import "./sections/welcome.scss";
@import "./sections/footer.scss";
@import "./sections/header.scss";
@import "./sections/nav.scss";
@import "./sections/about_me-content";
@import "./sections/careeer";
@import "./sections/portfolio";

// adaptive
//@import "media";


